<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Blog with EJS template</title>
       <link rel="stylesheet" href=" /blog.css">
        
</head>
</html>